@font-face {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.comment-container {
  font-family: "Noto Sans KR", sans-serif;
  background: rgba(255, 255, 255, 0.3); /* 하얀색 배경에 약간의 투명도 */
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
#selected-song-info {
  font-size: 12px; /* 폰트 크기를 줄이는 스타일 추가 */
  margin-top: 2px;
  color: white;
  margin-left:10px;
}
.input-section .input-field {
  width: calc(100% - 80px); /* 버튼 두 개의 넓이를 고려한 인풋 필드 넓이 */
  display: inline-block;
}
.input-section .song-button,
.input-section .submit-button {
  display: inline-block;
}
.input-section #selected-song-info {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.input-section .input-field {
  width: calc(100% - 80px); /* 버튼 두 개의 넓이를 고려한 인풋 필드 넓이 */
  display: inline-block;
}
.input-section .song-button,
.input-section .submit-button {
  display: inline-block;
}
.input-section #selected-song-info {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.input-field {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #ff6868;
}

.submit-button, .song-button {
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover, .cancel-button:hover {
  background-color: white; /* hover 시 배경색 진하게 변경 */
  color: black;
}

.submit-button {
  background-color: #ff8a8a; /* 등록 버튼 색상 */
  color: white;
  margin-right:10px;
}

.song-button {
  background-color: #ff8a8a; /* 취소 버튼 색상 */
  color: white;
  magin-right:2px;
}

.comment-info {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left; /* 왼쪽 정렬 */
}
.comment-info:hover {
  background: rgba(255, 255, 255, 0.7);
}

.icon-commentinfo{
  color:black;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.comment-message {
  font-size: 15px;
  text-align: left; /* 왼쪽 정렬 */
}


.comment-song{
  margin-left:15px;
}

.comment-song-info {
  font-size: 12px;
  color: #000000; /* 텍스트 색상을 진하게 변경 */
}

.comment-date {
  font-size: 12px;
  color: #000000; /* 텍스트 색상을 진하게 변경 */
  text-align: right;
  margin-top: 10px;
}

.comments-section {
  margin-top: 20px;
  color: #000;
}

.comment {
  background: rgba(255, 255, 255, 0.5); /* 하얀색 배경에 약간의 투명도 */
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.comment-icon {
  margin-right: 10px;
  font-size: 16px; /* 댓글 아이콘 크기 */
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 40px; /* .comment-song과 같은 왼쪽 정렬 */
}

.comment-count {
  font-size: 12px;
  color: #666;
}

.comment-date {
  font-size: 12px;
  color: #666;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get the element to fit nicely */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.pagination-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.pagination-button:disabled {
  background-color: #ccc; /* Grey background for disabled button */
  cursor: not-allowed; /* Not allowed cursor for disabled button */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-box i {
  margin-right: 10px;
}

.search-box input {
  flex-grow: 1; /* 입력 필드가 남은 공간을 채우도록 설정 */
  width: calc(100% - 30px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000; /* 글씨를 검정색으로 설정 */
}

.search-results {
  margin-top: 20px;
  color: #000; /* 글씨를 검정색으로 설정 */
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: #000; /* 글씨를 검정색으로 설정 */
}

.result-item:hover {
  background-color: #f1f1f1;
}

.selected-container {
  margin-top: 20px;
}

.selected-item {
  padding: 10px;
  background-color: #d1e7dd;
  border: 1px solid #bcd4c7;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: #000; /* 글씨를 검정색으로 설정 */
}

.selected-item:hover {
  background-color: #bcd4c7;
}


/*방명록*/
.reply-item {
  margin-bottom: 10px;
}

.reply-box {
  background: rgba(255, 255, 255, 0.7);
  color:black;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  width: 95%;
  cursor: pointer; /* 클릭 가능하도록 포인터 변경 */
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 추가 */
  display: flex;
  align-items: flex-start;
}

.reply-profile {
  margin-right: 10px;
}

.reply-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.reply-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.reply-header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0px;
  font-size: 14px;
}

.reply-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
}

.reply-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 0px;
  font-size: 10px;
}

.reply-input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.reply-input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.reply-input-field:focus {
  border-color: #ff6868;
}

.reply-submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff8a8a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reply-submit-button:hover {
  background-color: white;
  color: black;
}